In [4]:
import numpy as np
import pandas as pd

Accelerometer format: "Time (s)","X (m/s^2)","Y (m/s^2)","Z (m/s^2)" \
Gyroscope format: "Time (s)","X (rad/s)","Y (rad/s)","Z (rad/s)"

In [37]:

accelerometer = pd.read_csv('data/gebaeude64_1OG_csv/Accelerometer.csv', sep=',',header=0)
gyroscope = pd.read_csv('data/gebaeude64_1OG_csv/Gyroscope.csv', sep=',',header=0)
accelerometer

         Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0        0.001931   2.033372   5.060976   8.197403
1        0.011944   2.040856   5.017716   8.271050
2        0.021958   2.129322   4.878954   7.962691
3        0.031972   2.186054   4.832401   7.586224
4        0.041986   2.172432   4.895869   7.622449
...           ...        ...        ...        ...
17898  179.238505   0.431702   4.693190   8.356972
17899  179.248519   0.623454   4.842430   7.338040
17900  179.258534   0.572709   4.798721   7.882009
17901  179.268548   0.506547   4.640051   8.247998
17902  179.278563   0.420625   4.513115   9.139844

[17903 rows x 4 columns]

In [38]:
accelerometer = np.asarray([accelerometer['Time (s)'].to_numpy(dtype=float),
    accelerometer['X (m/s^2)'].to_numpy(dtype=float), 
    accelerometer['Y (m/s^2)'].to_numpy(dtype=float), 
    accelerometer['Z (m/s^2)'].to_numpy(dtype=float)])
gyroscope = np.asarray([gyroscope['Time (s)'].to_numpy(dtype=float),
    gyroscope['X (m/s^2)'].to_numpy(dtype=float), 
    gyroscope['Y (m/s^2)'].to_numpy(dtype=float), 
    gyroscope['Z (m/s^2)'].to_numpy(dtype=float)])

#accelerometer